spring.output.ansi.enabled=ALWAYS

#DataBase 

spring.datasource.url =
spring.datasource.username =
spring.datasource.password =
spring.jpa.hibernate.ddl-auto = update
spring.jpa.show-sql = false
spring.main.allow-circular-references = true

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation = true

server.error.include-exception=true

# Configuration JWT
jwt.secret =
jwt.expiration =